/* Archivo encargado de los estilos globales */
/* exporta los estilos globales para la aplicación */
/*app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales que pueden ser usadas por tus CSS Modules */
:root {
    --primary-color: #262c36;
    --secondary-color: #FFFFFF;
    --background-color: #CFC5C2;
    --text-color: #333;
    --hover-color: #444;
    --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
    --shadow-heavy: 0 8px 25px rgba(0, 0, 0, 0.2);
    --border-radius: 5px;
    --transition: 0.3s ease;
}

a {
    text-decoration: none;
}

